/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

@font-face
{
	font-family: OpenSans;
	src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

body {
	font-family: OpenSans sans-serif !important;
}

.bobat {
	background: url(../assets/bg.png);
	font-family: OpenSans, sans-serif !important;
}

.bobat-groupbox {
	padding: 8px;
}

.row-label {
	margin: 4px;
	padding: 4px;
	color: #A8A8A8;
}

.row-field {
	text-align: right;
	padding: 8px;
	color: #FFFFFF;
}